@import "../abstracts/_variables.scss";

.contact {
  &__info {
    margin-bottom: 1rem;
    &--icon {
      font-size: 1rem;
      color: $color-white;
      margin-right: 0.75rem;
    }

    &--link {
      text-decoration: none;
      color: $color-white;
    }
    &--link:hover {
      color: $color-white;
    }
  }
}
.custom-tooltip {
  --bs-tooltip-bg: #b2d8aa;
  --bs-tooltip-color: #22373c;
}
